.ludo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.ludo-box-container {
  display: grid;
  grid-template-columns: repeat(15, 40px);
  grid-template-rows: repeat(15, 40px);
  gap: 0;
  background: #f0f0f0;
}

.home-green, .safe-green {
  background: #4ade80;
}

.home-yellow, .safe-yellow {
  background: #fde047;
}

.home-red, .safe-red {
  background: #f87171;
}

.home-blue, .safe-blue {
  background: #60a5fa;
}

.cell-lines, .safe-path {
  border: black 0.05px solid;
}

